# Dependencies
node_modules

# Build outputs
dist
.output
.nuxt
.turbo

# Environment files
.env
.env.local
.env.*.local

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
prisma/migrations/dev.db

# Coverage
coverage
.nyc_output

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
